@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Antique&display=swap');

*{
    font-family: poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

/* Navigation */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    max-width: 1070px;
    width: 100%;
    margin: auto;
}
.menu{
    display: flex;
}
.menu li a{
    padding: 3px 10px;
    margin: 0px 15px;
    color: #3b3b3b;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all ease 0.3s;
}
.logo{
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #202020;
}
.logo span{
    color: #40aa54;
}
.right-nav {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}
.right-nav a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}
.right-nav .cart{
    background-color: #ecf7ee;
    color: #4eb060;
}
.right-nav a span{
    position: absolute;
    top: -7px;
    right: -7px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    font-size: 0.6rem;
    font-weight: 500;
    background-color: #202020;
}
.right-nav span{
    background-color: #4eb060;
}
.menu li a:hover,
.menu .active{
    color: #40aa54;
    transition: all ease 0.3s;
}
/* Search section*/

#search-banner{
    max-width: 1250px;
    height: 500px;
    border-radius: 30px;
    background-color: #ecf7ee;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    background-image: url(assets/bg3.jpg);
    background-repeat: no-repeat;
    /* background-size: 1000px;
    background-position: bottom right; */
    background-position: center;
    padding: 20px;
    display: flex;
    align-items: center;
    background-size: cover;

}


/* .bg1{
    position: absolute;
    left: -50px;
    top: -150px;
    width: 600px;
    height: 600px;
    object-fit: contain;
    object-position: center;
}
.bg2{
    position: absolute;
    left: 60%;
    transform: translate(-60%);
    top: -75px;
    width: 300px;
    height: 300px;
    object-position: center;
    object-fit: contain;
} */

.search-text h1{
    font-size: 3rem;
    line-height: 55px;
    color: aqua;
}
.search-text strong{
    color: #4eb060;
    font-size: 1.4rem;
    margin-top: 4px;
}

.search-box{
    background-color: #ffffff;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding: 0px 5px 0px 20px;
    border-radius: 30px;
}
.search-box i{
    font-size: 1.3rem;
    color: #3b3b3b;
    margin: 0px 10px;
}
.search-box .search-input{
    height: 40px;
    border: none;
    width: 100%;
    padding: 0px 10px;
    outline: none;
}
.search-box .search-btn{
    width: 220px;
    height: 40px;
    border-radius: 30px;
    background-color: #4eb060;
    border: none;
    color: #ffffff;
    outline: none;
    cursor: pointer;
}
.search-box .search-btn:hover{
    background-color: #5ccf71;
    transition: all ease 0.3s;
}

/* Menu */

#menu,
#popular{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 50px auto;
}

.m-heading,
.p-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.m-heading h2{
    font-size: 1.56rem;
    font-weight: 700;
    color: #202020;
    letter-spacing: 00.5px;
}
.m-heading span,
.p-heading span{
    color: #a7a7a7;
    font-weight: 400;
    letter-spacing: 1px;
}
.m-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.m-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    border-radius: 10px;
    min-height: 130px;
    width: 120px;
    border: 1px solid rgba(0,0,0,0.03);
}
.m-box img{
    height: 100px;
    width: 120px;
    object-fit: contain;
    object-position: center;
}
.m-box span{
    color: #393939;
    font-size: 0.8rem;
    margin-top: 20px;
    letter-spacing: 0.3px;
    font-weight: 600;
}

/* popular product */
#popular{
    margin: 80px auto;
}
.p-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 40px 0px;
}
.p-box{
    width:85%;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.p-box img{
    width: 90%;
    height: 180px;
    object-fit: contain;
    object-position: center;
    margin: auto;
}
.p-box strong{
    color: #202020;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 10px;
}
.p-box .quantity{
    color: #949494;
    font-size: 00.8rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.p-box .price{
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 600 ;
    color: #393939;
}
.p-box .cart-btn{
    width: 100%;
    height: 40px;
    background-color: #ecf7ee;
    color: #4eb060;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: all ease 0.3s;
}
.p-box .cart-btn i{
    margin-right: 10px;
}
.p-box .cart-btn:hover{
    background-color: #4eb060;
    color: #ffffff;
    transition: all ease 0.3s;
}

/*footer*/
footer{
    background-color: #1b1d1f;
    padding: 50px 20px;
    border-top: 5px solid #4eb060;
}
.f-container{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content:space-around;
    align-items: flex-start;

}
.f-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.f-logo a{
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.f-logo a span{
    color: #4eb060;
}
.f-social{
    display: flex;
    margin-top: 10px;
}
.f-social a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: 1px solid #ffffff15;
    font-size: 0.9rem;
    margin: 0px 5px;
    transition: all ease 0.3s;
}
.f-social a:hover{
    background-color: #4eb060;
    transition: all ease 0.3s;
}
.f-link strong{
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
}
.f-link ul{
    margin-top: 10px;
}
.f-link ul li a{
    color: #ffffff;
    opacity: 0.5;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: all ease 0.3s;
}
.f-link li a:hover{
    opacity: 1;
    transition: all ease 0.3s;
}


/* Responsive */
.menu-icon,
.menu-btn{
    display: none;
}
@media(max-width:1280px){
    #search-banner{
        width: 90%;
        height: 500px;
        background-size: cover;
    }
    #popular{
        width: 90%;
    }
}
@media(max-width:1050px){
    .bg-1{
        width: 150px;
        height: 150px;
        top: -20px;
    }
    #search-banner{
        background-size: 900px;
    }
    #menu{
        width: 90%;
    }
}
@media(max-width:965px){
    .navigation{
        justify-content: space-between;
        height: 65px;
        padding: 35px 25px;
    }
    .logo{
        font-size: 1.2rem;
    }
    .navigation .menu{
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        z-index: 100;
        background-color: #ffffff;
        width: 100%;
        padding: 0px;
        margin: 0px;
        border-bottom:1px solid rgb(245,245,245);

    }
    .navigation .menu li{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .navigation .menu li a{
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        padding: 30px 20px;
        margin: 0px;
        border: 1px solid rgb(248,247,247,0.5);
    }
    .menu-icon{
        display: block;
    }
    .navigation .menu-icon{
        cursor: pointer;
        float: right;
        padding: 5px;
        position: relative;
        user-select: none;
        z-index: 2;
    }
    .navigation .menu-icon .nav-icon{
        background-color: #141414cc;
        display: block;
        height: 2px;
        width: 25px;
        position: relative;
        transition: background 0.2s ease-out;
    }
    .navigation .menu-icon .nav-icon::before,
    .navigation .menu-icon .nav-icon::after{
        background-color: #141414cc;
        content: ' ';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all ease-out 0.2s;    
    }
    .navigation .menu-icon .nav-icon::before{
        top: 7px;
    }
    .navigation .menu-icon .nav-icon::after{
        top: -7px;

    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon::before{
        transform: rotate(-45deg);
        top: 0px;
    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon::after{
        transform: rotate(45deg);
        top: 0px;
    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon{
        background-color: transparent;
    }
    .navigation .menu-btn:checked ~ .menu{
        display: block;
    }
    #search-banner{
        height: 400px;
        background-size: 800px;
    }
    .bg-1{
        width: 100%;
        height: 100%;
       
    }
    .m-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .m-box{
        margin: 10px;
    }
    .f-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .f-link{
        text-align: center;
    }
}
@media(max-width:750px){
    #search-banner{
        height: 300px;
    }
    .search-text{
        margin-left: 20px;
    }
    .search-text h1{
        font-size: 2rem;
        line-height: 30px;
    }
    .bg-1{
        display: none;
    }
}
@media(max-width:500px){
    #search-banner{
        height: 200px;
        background-size: 450px;
    }
}

